# To Predict the customer will repay the Loan Amout .

## Import the Libraries

In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot  as plt 
import seaborn as sns 

from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn import tree

## Load the Dataset

In [2]:
data = pd.read_excel("Decision_Tree_ Dataset.xlsx")
data.head()

  Unnamed: 0    1      2    3     4    sum
0        yes  201  10018  250  3046  13515
1        yes  205  10016  395  3044  13660
2        yes  257  10129  109  3251  13746
3        yes  246  10064  324  3137  13771
4        yes  117  10115  496  3094  13822

In [3]:


# Replace 'your_input_file.xlsx' with the actual Excel file path
xlsx_file_path = 'Decision_Tree_ Dataset.xlsx'

# Read the Excel file into a DataFrame
df = pd.read_excel(xlsx_file_path)

# Replace 'your_output_file.csv' with the desired CSV file path
csv_file_path = 'Decision_Tree_ Dataset.csv'

# Save the DataFrame to a CSV file
df.to_csv(csv_file_path, index=False)

print(f"Conversion from {xlsx_file_path} to {csv_file_path} completed.")

Conversion from Decision_Tree_ Dataset.xlsx to Decision_Tree_ Dataset.csv completed.

In [4]:
data = pd.read_csv("Decision_Tree_ Dataset.csv")
data.head()

  Unnamed: 0    1      2    3     4    sum
0        yes  201  10018  250  3046  13515
1        yes  205  10016  395  3044  13660
2        yes  257  10129  109  3251  13746
3        yes  246  10064  324  3137  13771
4        yes  117  10115  496  3094  13822

In [5]:

print("Current Column Names:")
print(data.columns)

Current Column Names:
Index(['Unnamed: 0', '1', '2', '3', '4', 'sum'], dtype='object')

In [6]:
# Define a dictionary with the old column names as keys and the new column names as values
column_name_mapping = {
    'Unnamed: 0': 'Result',
    '1': 'Initial_Payment',
    '2': 'Last_Payment',
    '3': 'Credit_score',
    '4': 'House_number'
   
}

# Rename the columns using the rename method
data.rename(columns=column_name_mapping, inplace=True)

# Display the updated column names
print("\nUpdated Column Names:")
print(data.columns)

Updated Column Names:
Index(['Result', 'Initial_Payment', 'Last_Payment', 'Credit_score',
       'House_number', 'sum'],
      dtype='object')

In [7]:
data.head()

  Result  Initial_Payment  Last_Payment  Credit_score  House_number    sum
0    yes              201         10018           250          3046  13515
1    yes              205         10016           395          3044  13660
2    yes              257         10129           109          3251  13746
3    yes              246         10064           324          3137  13771
4    yes              117         10115           496          3094  13822

In [8]:
data.drop(columns="sum", inplace=True)
data.head()

  Result  Initial_Payment  Last_Payment  Credit_score  House_number
0    yes              201         10018           250          3046
1    yes              205         10016           395          3044
2    yes              257         10129           109          3251
3    yes              246         10064           324          3137
4    yes              117         10115           496          3094

# EDA

In [9]:
data.shape

(1000, 5)

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Result           1000 non-null   object
 1   Initial_Payment  1000 non-null   int64
 2   Last_Payment     1000 non-null   int64
 3   Credit_score     1000 non-null   int64
 4   House_number     1000 non-null   int64
dtypes: int64(4), object(1)
memory usage: 39.2+ KB

In [11]:
data.describe()

       Initial_Payment  Last_Payment  Credit_score  House_number
count       1000.00000    1000.00000   1000.000000   1000.000000
mean         294.34300   12465.88400    528.042000   4027.011000
std          115.81539    1440.15617    259.796059    565.164179
min          100.00000   10005.00000    100.000000   3003.000000
25%          195.00000   11201.50000    302.000000   3545.000000
50%          289.50000   12450.00000    516.500000   4041.500000
75%          398.00000   13678.25000    753.500000   4507.000000
max          500.00000   14996.00000    997.000000   5000.000000

In [12]:
data['Result'].unique()

array(['yes', 'No'], dtype=object)

In [13]:
data[data.duplicated].shape

(0, 5)

In [14]:
data.dtypes

Result             object
Initial_Payment     int64
Last_Payment        int64
Credit_score        int64
House_number        int64
dtype: object

## Implementation

In [15]:
#Separating the Target variable
x = data.values[: ,1:5]
y = data.values[: ,0]

#spliting Dataset into Test & Train 
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.3 ,random_state=100)

In [16]:
# function to perform training with Entropy
clf_Entropy = DecisionTreeClassifier(
    criterion="entropy" ,
    random_state=100 ,
    max_depth=3,
    min_samples_leaf=5,
)
clf_Entropy.fit(x_train,y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=3, min_samples_leaf=5,
                       random_state=100)

In [17]:
#function to make predication
y_predic =clf_Entropy.predict(x_test)
y_predic

array(['yes', 'yes', 'No', 'yes', 'No', 'yes', 'yes', 'yes', 'No', 'No',
       'No', 'No', 'yes', 'No', 'No', 'yes', 'yes', 'No', 'yes', 'No',
       'No', 'yes', 'No', 'yes', 'yes', 'No', 'No', 'yes', 'No', 'No',
       'No', 'yes', 'yes', 'yes', 'yes', 'No', 'No', 'No', 'yes', 'No',
       'yes', 'yes', 'yes', 'No', 'No', 'yes', 'yes', 'yes', 'No', 'No',
       'yes', 'No', 'yes', 'yes', 'yes', 'yes', 'No', 'yes', 'No', 'yes',
       'yes', 'No', 'yes', 'yes', 'No', 'yes', 'yes', 'yes', 'No', 'No',
       'No', 'No', 'No', 'yes', 'No', 'yes', 'yes', 'No', 'yes', 'No',
       'No', 'No', 'No', 'yes', 'No', 'yes', 'No', 'yes', 'yes', 'No',
       'yes', 'yes', 'yes', 'yes', 'yes', 'No', 'yes', 'yes', 'yes',
       'yes', 'No', 'No', 'yes', 'yes', 'No', 'yes', 'yes', 'yes', 'No',
       'yes', 'yes', 'yes', 'yes', 'No', 'No', 'yes', 'yes', 'yes', 'No',
       'No', 'No', 'No', 'yes', 'yes', 'No', 'yes', 'yes', 'yes', 'No',
       'No', 'yes', 'yes', 'No', 'yes', 'yes', 'yes', 'No', 'yes', 'yes',
       'No', 'No', 'yes', 'yes', 'yes', 'No', 'yes', 'yes', 'yes', 'yes',
       'No', 'yes', 'No', 'No', 'No', 'No', 'yes', 'No', 'No', 'No',
       'yes', 'yes', 'No', 'yes', 'yes', 'No', 'yes', 'No', 'yes', 'No',
       'No', 'yes', 'yes', 'No', 'yes', 'No', 'yes', 'yes', 'No', 'No',
       'No', 'No', 'No', 'yes', 'No', 'No', 'yes', 'yes', 'yes', 'yes',
       'yes', 'No', 'yes', 'No', 'yes', 'No', 'No', 'No', 'yes', 'yes',
       'No', 'No', 'No', 'yes', 'yes', 'No', 'No', 'yes', 'yes', 'No',
       'No', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes',
       'yes', 'No', 'yes', 'yes', 'No', 'No', 'yes', 'No', 'yes', 'yes',
       'No', 'No', 'yes', 'No', 'yes', 'yes', 'yes', 'yes', 'No', 'No',
       'No', 'No', 'yes', 'yes', 'No', 'yes', 'yes', 'No', 'yes', 'No',
       'No', 'No', 'No', 'yes', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'No', 'No', 'No', 'No',
       'yes', 'No', 'yes', 'yes', 'yes', 'No', 'No', 'No', 'No', 'yes',
       'No', 'yes', 'No', 'No', 'No', 'yes', 'yes', 'No', 'yes', 'yes',
       'yes', 'No', 'No', 'yes', 'No', 'yes', 'yes', 'No', 'No', 'yes',
       'yes'], dtype=object)

# Checking Accuracy

In [21]:
print("Accuracy Is : "),accuracy_score(y_test ,y_predic) * 100

Accuracy Is :

(None, 93.66666666666667)